# IntelliJ / IDE files
archive/.idea/
*.iml
#test by samasti
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
.idea/
